body {
    position: relative;
    margin: 0;
    padding: 0;
}

/*Login page Css*/

.header {
    background-color: #D5322B;
    margin: 0;
    border-bottom: 1px solid black;
    position: fixed;
    top:0;
    width: 100%;
    text-align: center;
}
.navDropDown {
	background: rgba(255,255,255,0.5);
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    position: fixed;   
    right: 2%;
    top: 12%;
    padding: 3em 1em;
}
.loginForm {
    border: 2px solid black;
    background: rgba(255,255,255,0.8);
    border-radius: 5px;
    width: 35%;
    padding: 1%;
    text-align: center;
    z-index: 999;
    position: absolute; 
    left: 30%;
    top: 150px;
}
.btn { 
	opacity: .7;
    border-radius: 2px; 
    height: 36px; 
    width:36px;  
	/*border: 1px solid purple;*/
}
.btn2 { 
    position: absolute; 
	top:10%; 
	right: 2.5%;
    border-radius: 2px; 
    height: 36px; 
    width:36px;  
}
#lines:before { 
    border-bottom: 17px double black;
    border-top: 6px solid black;    
    content:"";
    height: 5px; 
    position: absolute; 
    right:3px;  
    top: 10px; 
    width:30px; 
}
footer {
	position: fixed;
    bottom:0;
    background-color: #D5322B;    
	padding: 0.3%;
    border-top: 2px solid black;
    width: 100%;
    text-align: center;
}
.contactSocialMedia {
     border: 2px solid lightgrey;
     background-color: black;
    border-radius: 5px;
    width: 11%;
    padding: .4%;
    margin-left: 44%;
}
a {
    color: black;
    font-family:monospac ;
}
a:hover {
	background: rgba(255,255,255,0.5);
    border: 1px solid black;
    border-radius: 5px;
    padding:1%;
}
.login-image {
    background-image: url('http://images4.fanpop.com/image/photos/24400000/The-fuentes-boys-hanging-out-perfect-chemistry-24494756-720-480.jpg');
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Chatroom page*/
.conversation-bar {
    position: absolute;
    left: 0;
    top: 80px;
    height: 100%;
    width: 20%;
    border: 1px solid black;
    
}
/** {
    border: 1px solid purple;
}*