body,html {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #D5322B;
}

/*Login page Css*/

.header {
    background-color: #D5322B;
    margin: 0;
    border-bottom: 1px solid black;
    position: absolute;
    top:0;
    width: 100%;
    z-index: 999;
}
h1 {
    font-family: 'Product Sans', arial, sans-serif;
font-size: 32px;
font-style: normal;
font-variant: normal;
font-weight: normal;
margin-left: 10px;
}
.navDropDown {
	background: rgba(255,255,255,0.5);
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    position: fixed;   
    right: 2%;
    top: 12%;
    padding: 3em 1em;
    z-index: 999;
}
.loginForm {
    border: 2px solid black;
    background: rgba(255,255,255,0.8);
    border-radius: 5px;
    width: 35%;
    padding: 1%;
    text-align: center;
    z-index: 999;
    position: absolute; 
    left: 30%;
    top: 150px;
}
.btn { 
	opacity: .7;
    border-radius: 2px; 
    height: 36px; 
    width:36px;  
	/*border: 1px solid purple;*/
}
.btn2 { 
    position: absolute; 
	top:10%; 
	right: 2.5%;
    border-radius: 2px; 
    height: 36px; 
    width:36px;  
}
#lines:before { 
    border-bottom: 17px double black;
    border-top: 6px solid black;    
    content:"";
    height: 5px; 
    position: absolute; 
    right:3px;  
    top: 10px; 
    width:30px; 
}
footer {
	position: fixed;
    bottom:0;
    background-color: #D5322B;    
	padding: 0.3%;
    border-top: 2px solid black;
    width: 100%;
    text-align: center;
    z-index: 999;
}
.contactSocialMedia {
     border: 2px solid lightgrey;
     background-color: black;
    border-radius: 5px;
    width: 11%;
    padding: .4%;
    margin-left: 44%;
}
a {
    color: black;
    font-family:monospac ;
}
a:hover {
	background: rgba(255,255,255,0.5);
    border: 1px solid black;
    border-radius: 5px;
    padding:1%;
}

/*Slider*/
@keyframes slidy {
0% { left: 0%; }
15% { left: 0%; }
25% { left: -100%; }
35% { left: -100%; }
45% { left: -200%; }
65% { left: -200%; }
75% { left: -300%; }
85% { left: -300%; }
95% { left: -400%; }
95% { left: -400%; }
}

body { margin: 0; } 
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left;}
div#slider figure { 
  position: fixed;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}

/*Chatroom page*/
.conversation-bar {
    position: absolute;
    left: 0;
    top: 80px;
    height: 100%;
    width: 20%;
    border: 1px solid black;
    
}
/** {
    border: 1px solid purple;
}*