<div class="header">
	<img style="position:absolute;left:20%; top:20%;width:50px;" src="http://charliefish.co.uk/Patreon/icon_hangouts.png" alt="">
	<h1>Goojle Hangouts</h1>
	<div ng-click="navToggle()" class="btn2" id="lines">
	</div>
	<div ng-show="showInnerNav" class="inner-nav">
		<a href="/#/chatroom">Chatroom</a>
		<a href="/#/profile">My Profile</a>
	</div>
</div>
<div ng-show="showNav" class="navDropDown">

	<button ng-click="showLoginForm()" style="border:1px solid brown;border-radius:5px;">Login</button>
	<br>
	<br>or
	<br>
	<br>
	<button ng-click="showRegisterForm()" style="border:1px solid brown;border-radius:5px;">Register</button>

</div>