<div id="chatroom-body">
	<dir-main-head>
		<a href="/#/profile">My Profile</a>
	</dir-main-head>
	<div class="conversation-bar">
		<div class="conversation-title" style="text-align:center;padding:3%;border-bottom:1px solid black;">
			<big style="border-bottom:1px solid black;">Conversations:</big>
		</div>
		<div class="conversations" ng-repeat="convos in conversations">
			{{convos.from}}
			<br> {{convos.date | date: medium}}
			<br>
			<br> Message Count: ({{convos.messageCount}})
		</div>
		<div class="coversation-footer">
			<br>
			<br>
		</div>
	</div>
	<div class="message-container">
		<div class="message-box" ng-repeat="message in messages">
			{{message.from}}:
			<br> -{{message.content}}
			<br>
			<br> {{message.time | date: large}}
		</div>
	</div>
	<dir-social-media></dir-social-media>
</div>