<div id="chatroom-body">
<dir-Header-2></dir-Header-2>
	<!--MAIN CONTENT OF CHAT ROOM-->
	<div class="conversation-bar">
		<div class="conversation-title" style="text-align:center;padding:1%;margin-bottom:0;">
			<nav style="margin:0;" class="navbar navbar-inverse">
				<button style="position:absolute;left:3px;top:3px;padding:1%;width:12%;" class="glyphicon glyphicon-plus btn btn-primary"></button>
				<div style="margin:1%;" class="container-fluid">
					<big style="color:white;">Converstations</big>
					<div style="margin: 10px 0" class="form-group">
						<input type="text" class="form-control" placeholder="Find a converstation...">
					</div>
				</div>
				<!-- /.container-fluid -->
			</nav>
		</div>
		<div class="conversations" ng-repeat="convos in conversations">
			<big>{{convos.from}}</big>
			<br>
			<br>
			<a>New messages <span class="badge">{{convos.messageCount}}</span></a>
			<small style="margin-left:60px">{{convos.date | date: medium}}</small>
		</div>
	
		<div class="coversation-footer">
			<br>
			<br>
		</div>
	</div>
	<div class="message-container">
		<div ng-class="{'style2':message.from==='You'}" class="message-box" ng-repeat="message in messages">
			<span style="border-bottom:1px solid black">{{message.from}}:</span>
			<br>
			<p style="margin:3px;">{{message.content}}:</p>
			<span style="font-size:12px;margin-left:50%">{{message.time | date: 'MMM d, h:mm a'}}</span>
		</div>
	</div>
	<dir-Footer-2></dir-Footer-2>
</div>