<div id="chatroom-body">
	<dir-main-head>
	</dir-main-head>
	<div class="conversation-bar">
		<div class="conversation-title" style="text-align:center;padding:3%;border-bottom:1px solid black;">
			<big style="border-bottom:1px solid black;">Conversations:</big>
		</div>
		<div class="conversations" ng-repeat="convos in conversations">
			{{convos.from}}
			<br> {{convos.date | date: medium}}
			<br>
			<br> Message Count: ({{convos.messageCount}})
		</div>
		<div class="coversation-footer">
			<br>
			<br>
		</div>
	</div>
	<div class="message-container">
		<div ng-class="{'style2':message.from==='You'}" class="message-box" ng-repeat="message in messages">
			{{message.from}}:
			<hr> -{{message.content}}
			<br>
			<br>
			<span style="font-size:12px;margin-left:60%">{{message.time | date: 'MMM d, h:mm a'}}</span>
		</div>
		<br><br>
	</div>
	<dir-social-media></dir-social-media>
</div>